.site-footer {
    padding: 20px 30px;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #00ff9d;
    color: white;
    font-family: 'Courier New', monospace;
  }
  
  
  .site-footer a {
    color: #00ff9d;
    text-decoration: none;
    margin-left: 5px;
    transition: color 0.3s ease;
  }
  
  .site-footer a:hover {
    color: #4effc9;
  }
  